<h1>卍　呟き一覧　卍</h1>

<table>
  <% @tweets.each do |tweet| %>
   <tr>
     <td><%=  tweet.content %></td>
     <td><%= link_to '詳細を確認する', tweet_path(tweet.id) %></td>
   </tr>
  <% end %>
</table>

<%= link_to '新規投稿画面へ', new_tweet_path %>
